<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713604749373-bn7v4l4j74sc9d5p0u22stb5v4dh9fi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713604749373-bn7v4l4j74sc9d5p0u22stb5v4dh9fi3</string>
	<key>API_KEY</key>
	<string>AIzaSyAc9ph5iV8gNmpyNhz7sRs_JcATR7n5nnY</string>
	<key>GCM_SENDER_ID</key>
	<string>713604749373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.dvt.Tech-Reads</string>
	<key>PROJECT_ID</key>
	<string>tech-reads</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-reads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713604749373:ios:bdbf1f3e6b66ace1607254</string>
	<key>DATABASE_URL</key>
	<string>https://tech-reads.firebaseio.com</string>
</dict>
</plist>